<h1>Discussions and Questions</h1>

<!--TODO @latest_created.each do-->

<table colspan="9" class='table table-bordered table-striped'>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Contributor</th>
    <th>Comments</th>
    <th></th>
  </tr>

<% @forums.each do |forum| %>
  <tr>
    <td><%= forum.title %></td>      <!--TODO: make clickable -->
    <td><%=h truncate(forum.body, :length => 20) %> </td>
    <td> Name </td>
    <td><%= forum.comments.count %></td>
    <td><%= link_to 'Show', forum %></td>
    <td><%= link_to 'Edit', edit_forum_path(forum) %></td>
    <td><%= link_to 'Destroy', forum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Forum', new_forum_path %>
