
<div class="page-header">
<h1>All Users</h1>
</div>

<% @users.each do |user|%>
<% end %>
<table class="table table-striped">
  <thead><strong>
  <tr>
    <th>Login</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Password</th>
    <th>Active</th>
    <th>User group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </strong></thead>


<% @users.each do |user| %>
  <tr>
    <td><%= user.login %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.password %></td>
    <td><%= user.active %></td>
    <td><%= user.user_group_id %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
