<h1>Projects</h1>

<table colspan="9" class='table table-bordered table-striped'>
  <tr>
    <th>Title</th>
    <th>Summary</th>
    <th>Project Owner</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.title %></td>   <!--TODO: make clickable -->
    <td><%=h truncate(project.summary, :length => 40) %></td>
    <td><%= project.user.full_name %></td>
    <td><%= project.active ? 'live' : 'complete' %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>


<br />

<%= link_to 'Create a new Project', new_project_path %>


