<h1><%= @project.title %></h1>


<p>
  <b>Summary:</b>
  <%= @project.summary %>
</p>

<p>
  <b>Project status:</b>
  <%= @project.active ? 'live' : 'closed' %>
  <% if @project.user_id == current_user.id %>
      <%= form_for(@project) do |f| %>    <!-- we need to send this form over to the projects controller, update -->
          <%= f.hidden_field :active, value: !@project.active %>      <!--instead of using @project we can use just :active because we are already inside the form for @project and the value we put into the active field will be the opposite of what it is currently -->
          <%= f.submit 'Change project status' %>
      <% end %>
  <% end %>
</p>

<p>
  <b>Project Owner:</b>
  <%= link_to @project.user.full_name, @project.user %>
</p>

<h3>Tasks</h3>

<table colspan="9" class='table table-bordered table-striped'>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
    <th>Volunteer for this task</th>
    <th>Current volunteers</th>
  </tr>

  <% @project.tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.description %> </td>
      <td><%= task.active ? 'live' : 'closed' %>
        <% if task.project.user_id ==  current_user.id %>
          <%= form_for(task) do |f| %>
            <%= f.hidden_field :active, value: !task.active %>
            <%= f.submit 'Change task status' %>
          <% end %>
        <% end %>
      </td>
      <td>
        <% if @project.active && task.active %>  <!-- ensuring that the ability to pledge is removed once the project AND task are closed -->
          <%= form_for(Pledge.new) do |f| %>
            <%= f.hidden_field :task_id, value: task.id %>
            <%= f.submit 'Pledge' %>
          <% end %>
        <% end %>
      </td>
      <td>
        <% task.pledges.each do |pledge| %>
          <%= link_to pledge.user.full_name, pledge.user %>

        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<h3>Add tasks</h3>
<% @task = @project.tasks.build  %>     <!-- projects has a rel to task table, and can ask for task table to build or create a new one -->
<%= render partial: 'tasks/form' %>         <!-- build will make a new task (not fully created/saved) which we need to do so that projects/show understands what @task is when the partial is run -->

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>



